/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

p {
    font: 500 1rem var(--body-font);
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--base-color);
}

img {
    max-width: 50%;
    height:auto ;
}

/* Variables */
:root {
    --header-height: 4.5rem;
    --base-color:rgba(52, 157, 178);
    --base-color-second:rgba(52, 157, 178);
    --base-color-alt: hwb(0 0% 100%);
    --title-color:   hwb(0 0% 100%);
    --text-color:  hwb(0 0% 100%);
    --text-color-light: #fcfcff;
    --body-color: #ffffff;
    --body-color-trans: rgba(236, 245, 244, 0.4);
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --font-size: 1rem;


    rgba(52, 157, 178);
}
}

/* Base */
html {
    scroll-behavior: smooth;
}

#disabled {
    display: none;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}

h1.title {
    font: 700 2.5rem var(--title-font);
    color: var(--base-color);
}

h2.title {
    font: 700 2.25rem var(--title-font);
    color: var(--base-color);
}

h2.title.subtitle {
    font: 600 2rem var(--title-font);
    color: var(--base-color-second);
    padding-top: 0.5rem;
}

h2.subtitle {
    font: 600 1.2rem var(--body-font);
    color: var(--base-color);
}

.button {
    background-color: var(--base-color);
    color: hwb(0 100% 0%);
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 1.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.4s, transform 0.2s;
}

.button:hover {
    background: var(--base-color-second);
    transform: scale(1.05);
}

.divider1 {
    height: 2px;
    background: linear-gradient(90deg, var(--base-color), transparent);
}

.divider2 {
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--base-color));
}

/* Layout */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
    justify-items: center
}

.section {
    padding: calc(3rem + var(--header-height)) 0;
}

.section3 {
    padding: var(--header-height) 0;
}

.section4 {
    padding: calc(2rem + var(--header-height)) 0;
}

.section3 h2 {
    text-align: center;
}

.section5 {
    padding: calc(3rem + var(--header-height)) 0 0;
}

strong {
    color: var(--base-color);
}

/*********Header***************/
#header {
    border-bottom: 2px solid var(--base-color);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    background-color: var(--body-color);
}

/*********Navigation***************/
nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--body-color);
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.3s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color-second);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

.i-color {
    width: 2rem;
    height: 2rem;
    color: var(--base-color);
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul {
    display: none;
}

/*Mostrar Menu*/
nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--base-color-alt);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

nav.show .menu ul {
    margin-top: -5.5rem;
    display: flex;
    flex-direction: column;
}

nav.show ul.grid {
    gap: 2rem;
}

/*toggle menu*/
.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
}

nav .bi-x {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
    color: var(--title-color);
}

nav.show div.bi-x {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    color: var(--title-color);
    z-index: 2;
}
/****************BAck to Top**********/
.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 0.8rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.container.page1 {
    display: flex;
    flex-direction: column;
}

.page1 .project-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-presentation .text {
    padding-top: 1.5rem;
    text-align: center;
}

.text p {
    padding-top: 1rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .image {
    width: 12.5rem;
    height: 12.5rem;
}

.description .text {
    text-align: center;
    padding-top: 1.5rem;
}

.image img {
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--base-color-second);
}
}
}

/****************Cards*****************/
.cards.grid {
    gap: 3rem;
}

.card {
    padding: 3rem 1rem 0 1rem;
    box-shadow: 0 0 12px #4d16ef66;
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.hold-button .button {
    position: relative;
    top: 1.5rem;
}

.section-pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-pdf .pdf {
    width: 100%;
    height: 50rem;
}

.section3 .container .bi-arrow-down-circle {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.head .bi.bi-arrow-left-circle {
    font-size: 2rem;
    color: var(--base-color);
}

.head a {
    padding-top: .5rem;
}

.cont-grad {
    display: grid;
    justify-items: center;
    height: 100%;
}

.project-presentation .text {
    text-align: justify;
}

@media screen and (min-width: 720px) {
    :root {
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1rem;
    }

    .description .text {
        width: 50%;
    }
    .page1 .project-presentation {
        flex-direction: row;
    }
    .project-presentation .text {
        width: 26rem;
    }

    h2.title.subtitle {
        width: 32rem;
    }

    .cont-grad {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}

@media screen and (max-height: 700px) {
    div.background {
        border-bottom: 12rem solid var(--body-color);
    }

    nav.show .menu ul {
        margin-top: -8rem;
    }
}

@media screen and (max-height: 500px) {
    div.background {
        display: none;
    }

    nav.show .menu ul {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: auto;
        position: absolute;
        right: 0;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    nav.container {
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 0 0 0 1rem;
        margin: 0;
    }
    .container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #header {
        border-bottom: none;
    }
    .section header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .grafico {
        width: 60%;
    }
    .button {
        height: 3.125rem;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    nav .icon-menu {
        display: none;
    }

    div.background {
        display: none;
    }

    .toggle {
        display: none;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: var(--base-color);
    }

    nav .menu ul li a.title.active {
        font-weight: bold;
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 2px;
        background: var(--base-color);
        position: absolute;
        left: 0;
        bottom: -1.7rem;
        transition: width 0.2s;
    }

    .container.page1 {
        margin-top: -6rem;
    }

    .container.grafico-container {
        margin-top: -7rem;
    }
}

@media screen and (min-width: 1500px) {
}


