/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--base-color);
}

img {
    width: 100%;
    height: auto;
}

/* Variables */
:root {
    --header-height: 4.5rem;
    --base-color: hsl(190, 55%, 45%, 100%);
    --base-color-second: hsl(38, 22%, 83%);
    --base-color-alt: hsl(190, 70%, 61%, 100%);
    --title-color: hsl(238, 58%, 13%, 100%);
    --text-color: hsl(0, 0%, 46%);
    --text-color-light: hsl(220, 13%, 91%);
    --body-color: hsl(48, 14%, 93%, 100%);
    --body-color-trans: hsl(48, 14%, 93%, 34%);
    --title-font-size: 1.5rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --font-size: 1rem;
}

/* Base */
html {
    scroll-behavior: smooth;
}

#disabled {
    display: none;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: subpixel-antialiased;
}

h1.title {
    font: 700 2.5rem var(--title-font);
    color: var(--base-color);
}

h2.title.subtitle {
    font: 600 2rem var(--title-font);
    width: 32rem;
    color: var(--base-color);
    padding-top: 0.5rem;
}

.button {
    background-color: var(--base-color);
    color: var(--title-color);
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 1.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.5s;
}

.button:hover {
    background: var(--base-color-alt);
}

.divider1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        var(--base-color),
        var(--body-color-trans),
    );
}

.divider2 {
    height: 1px;
    background: linear-gradient(90deg, var(--base-color), transparent);
}

/* Layout */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
    justify-items: center
}

.section {
    padding: calc(3rem + var(--header-height)) 0;
}

strong {
    color: var(--base-color);
}

/*********Header***************/
#header {
    border-bottom: 1px solid var(--base-color);
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

/*********Navigation***************/
nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.2s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--body-color);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--body-color);
    position: absolute;
    left: 0;
    bottom: -0.3rem; /*-1.5rem*/
    transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul {
    display: none;
}

/*Mostrar Menu*/
nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--base-color-alt);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

nav.show .menu ul {
    margin-top: -5.5rem;
    display: flex;
    flex-direction: column;
}

nav.show ul.grid {
    gap: 1rem;
}

/*toggle menu*/
.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
}

nav .bi-x {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
    color: var(--title-color);
}

nav.show div.bi-x {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    color: var(--title-color);
    z-index: 2;
}
/****************BAck to Top**********/
.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: 0.8rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.container.page1 {
    display: flex;
    flex-direction: column;
}

.page1 .project-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-presentation .text {
    padding-top: 2.5rem;
    width: 25.5rem;
    text-align: center;
}

@media screen and (min-width: 720px) {
    :root {
        --title-font-size: 1.5rem;
        --subtitle-font-size: 1rem;
    }
}

@media screen and (max-height: 700px) {
    div.background {
        border-bottom: 12rem solid var(--body-color);
    }

    nav.show .menu ul {
        margin-top: -8rem;
    }
}

@media screen and (max-height: 500px) /* 550 */ {
    div.background {
        display: none;
    }

    nav.show .menu ul {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: auto;
        position: absolute;
        right: 0;
    }
    .container {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    #header {
        border-bottom: none;
    }

    .section header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        height: 3.125rem;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    nav .icon-menu {
        display: none;
    }

    div.background {
        display: none;
    }

    .toggle {
        display: none;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: var(--base-color);
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 2px;
        background: var(--base-color);
        position: absolute;
        left: 0;
        bottom: -1.7rem; /*-1.5rem*/
        transition: width 0.2s;
    }

    .container.page1 {
        margin-top: -6rem;
    }
}
