body {
    background-color: #e0d6c3;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #273d30;
    color: #d4c09e;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #273d30;
    color: #d4c09e;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #d4c09e;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d4c09e;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav a.sem_efeito::before {
    transform: scaleX(0);
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

nav {
    background-color: #273d30;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #d4c09e;
    font-size: 20px;
    text-align: center;
}

.catalog-item {
    display: inline-block;
    background-color: #ecd8b2;
    width: 30%;
    margin: 10px;
    vertical-align: top;
}

.catalog-item img {
    width: 100%;
    height: auto;
}

.catalog-item p {
    margin-top: 0px;
    line-height: 0;
    color: #273d30;
}

.catalog-item h2 {
    font-size: 22px;
    margin-top: 0px;
    line-height: 1;
    color: #273d30;
}

.catalog-item h1 {
    font-size: 26px;
    margin-top: 0px;
    line-height: 1;
    color: #273d30;
}

.catalog-item a {
    color: #273d30;
    text-decoration: none;
}

ion-icon {
    font-size: 25px;
    vertical-align: middle;
}
