<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pix.css">
  <title>MakeSoft - PIX</title>

</head>
<body>

  <header>
    <img src="../img/logo.png" alt="Logo MakeSoft Solutions" height="100" width="100">
    <nav>
      <ul>
        <li><a href="index.html">Catálogo</a></li>
        <li><a href="pix.html">Pague com PIX</a></li>
        <li><a href="quemsomos.html">Quem somos</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="pix-item">
      <img src="../img/2500.png" alt="PIX">
      <p>00020126360014BR.GOV.BCB.PIX011453471409000152520400005303986540525.005802BR5918MAKESOFT SOLUTIONS6011DIVINOPOLIS62070503***6304923C</p>
    </div>
  </div>
  <br /><br /><br />

  <footer>
    <p>
    <nav>
      <ul>
         <li>
          <a href="https://www.instagram.com/MakeSoftSolutions" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon> @makesoftsolutions
          </a>
        </li>
          <li>
            <a href="https://api.whatsapp.com/send/?phone=5537991154972" target="_blank">
              <ion-icon name="logo-whatsapp"></ion-icon> (37) 99115-4972
            </a>
          </li>
      </ul>
    </nav>
    </p>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>